.test {
	width: 100px;
}

.test:hover {
	background-color: #5A70F9;
}

.course-bar {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 24px;
	position: fixed;
	z-index: 10;
	overflow-x: auto;
}

.course-bar table {
	margin: 0;
	padding: 0;
}

.course-bar table tr,
.course-bar table tr td th {
	margin: 0;
	padding: 0;
}

.course-bar table tr,
.course-bar table tr td th a {
	text-transform: capitalize;
}

.course-bar table tr,
.course-bar table tr td th a:hover {
	background-color: rgb(255, 255, 255);
}

.course-bar::-webkit-scrollbar {
	display: none;
}

.navbar .navbar-nav .nav-item a {
	padding: 15px;
}

.navbar .navbar-nav .nav-but {
	padding: 10px;
}