<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark p-1 sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{'/'}">
			<h3 style="font-family: cursive; font-weight: bolder;">CodeHub</h3>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active fw-bolder" th:href="@{'/project/show'}">Project</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-but">
					<form class="d-flex" th:action="@{'/course/search'}" method="post">
						<input class="form-control me-1" type="search" name="name" placeholder="Search"
							aria-label="Search">
						<button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
					</form>
				</li>
				<li class="nav-but" th:if="${#ctx.session.account != null and #ctx.session.account.role == 'admin'}">
					<div style="text-align: center;">
						<a href="#" th:href="@{'/course/new'}" class="btn btn-info">Add Course</a>
					</div>
				</li>
				<li class="nav-but">
					<div style="text-align: center;">
						<a th:href="@{'/account/allaccount'}" class="btn btn-info">Memembers</a>
					</div>
				</li>
				<li class="nav-item dropdown" th:if="${#ctx.session.account != null}">
					<a class="nav-link btn-primary active" href="#" role="button" id="dropdownMenuLink"
						data-bs-toggle="dropdown" aria-expanded="false">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
							class="bi bi-person-circle" viewBox="0 0 16 16">
							<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
							<path fill-rule="evenodd"
								d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
						</svg>
					</a>
					<ul class="dropdown-menu bg-body shadow-lg" aria-labelledby="dropdownMenuLink">
						<li>
							<h6 class="p-2 font-monospace fw-bolder" href="#" style="text-align: center;"
								th:text="${#ctx.session.account != null ?  #ctx.session.account.name : 'Name' }">
								Name</h6>
						</li>
						<li>
							<h6 class="p-2 font-monospace fw-bolder" href="#" style="text-align: center;"
								th:text="${#ctx.session.account != null ?  #ctx.session.account.email : 'Email' }">
								Email</h5>
						</li>
						<li>
							<h6 class="p-2 font-monospace fw-bolder" href="#" style="text-align: center;"
								th:text="${#ctx.session.account != null ?  #ctx.session.account.password : 'Password' }">
								Password</h5>
						</li>
					</ul>
				</li>
				<li class="nav-but" th:if="${#ctx.session.account == null}">
					<a class="btn btn-outline-light" th:href="@{'/register'}">Sign Up</a>
				</li>
				<li class="nav-but" th:if="${#ctx.session.account == null}">
					<a class="btn btn-outline-light" th:href="@{'/login'}">Log in</a>
				</li>
				<li class="nav-but" th:if="${#ctx.session.account != null}">
					<a class="btn btn-outline-light" th:href="@{'/logout'}">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>